p {
    font-size: medium;
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

.guess {
    font-weight: bold;
    text-transform: uppercase;
}

.outer {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0.25em;
    padding: 0.5em;
    border: 1px solid #CCC500;
}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.progress-bar {
    margin: 0.1em;
}

.progress-bar-container-inner {
    width: 2em;
    height: 2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.progress-bar-container-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    font-size: xx-small;
    display: inline;
}