:root {
    --theme-green: #1b998b;
    --theme-yellow: #ccc500;
    --theme-grey: #2e4c4d;
}

body {
    margin: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
