.evaluations {
    display: flex;
    flex-direction: column;
}

.evaluation > * {
    margin-bottom: 1em;
}

.play-again {
    background-color: #2E4C4D;
    border: 2px solid #1B998B;;
    padding: 0.5em;
    margin: 1em;
    color: white;
    font-size: large;
}

.message {
    display: inline;
    font-size: x-large;
    color: #CCC500;
}