.evaluations {
    display: flex;
    flex-direction: column;
}

.evaluation > * {
    margin-bottom: 1em;
}

.play-again {
    background-color: var(--theme-grey);
    border: 1px solid var(--theme-yellow);
    padding: 0.5em;
    margin: 1em;
    color: white;
    font-size: large;
}

.message {
    display: inline;
    font-size: x-large;
    color: var(--theme-yellow);
}